h1 {
	background: black;
	color: white;
}

p.first {
	color: red;
	margin: 10px;
	padding: 20px;
}

p.second {
	color: green;
	margin: 10px;
	padding: 20px;
}

a {
	color: pink;
}

a.visited {
	color: purple;
}

a.hover {
	text-decoration: underline
}