* {
	margin: 0; /* clears default margin and padding with universal Selector*/
	padding: 0;
}

nav {
	float: left; /* floats the nav element to the left*/
	background: darkgrey; 
}

main {
	background: lightgray;
}

footer {
	background: gray;
	clear: both;
}