ol {
	border: 5px solid darksalmon;
	border-radius: 10px;
}

ol li {
	color: brown;
}

.content li {
	color: brown;
}

li:first-child {
	background: yellow;
}

li:nth-child(2) {
	background: orange;
}



/*		<ol>
			<li>List Item <span class="number">first</span></li>
			<li>List Item <span class="number">second</span></li>
			<li>List Item <span class="number">third</span></li>
		</ol>

To apply style to only ordered list items the Selector must be specific
To appy style to list items (or li elements) that are descendants of div class, 
use the class name in the Selector
To apply style to elements that are first child of their parents use "first-child" in the Selector
To apply style to elements that are second, third, etc child of their parents use "nth-child(#)" in the Selector
*/